@charset "UTF-8";
:root {
  --darker-main: #0f1018;
  --dark-main: hsl(229, 12%, 15%);
  --base-main: hsl(229, 12%, 30%);
  --medium-main: hsl(229, 12%, 45%);
  --light-main: hsl(229, 12%, 60%);
  --lighter-main: hsl(229, 12%, 75%);
  --font-main: hsl(229, 12%, 90%);
  --white: #fff;
  --h1: 81px;
  --h2: 54px;
  --h3: 36px;
  --h4: 24px;
  --p1: 16px;
  --p2: 11px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: var(--darker-main); }

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 40px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 992px) {
    .flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.btn-black {
  border: 1px solid transparent;
  color: var(--lighter-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--base-main);
  border-radius: 32px;
  cursor: pointer;
  height: 48px;
  width: 128px;
  font-size: var(--p1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-black:hover {
    border: 1px solid transparent; }

.img-wrapper {
  border-radius: 8px; }
  .img-wrapper img {
    height: auto;
    width: 100%; }

ul.ul-styled li:before {
  content: "►";
  color: var(--lighter-main);
  color: var(--p1);
  height: auto;
  width: auto; }

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira-Bold.eot");
  font-weight: bold;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
li {
  color: var(--white);
  margin: 0; }

.bold {
  font-weight: bold; }

.white {
  color: var(--font-main); }

.gray {
  color: var(--lighter-main); }

h1,
.h1 {
  font-size: var(--h1); }
  @media screen and (max-width: 992px) {
    h1,
    .h1 {
      font-size: var(--h2); } }

h2,
.h2 {
  font-size: var(--h2); }
  @media screen and (max-width: 992px) {
    h2,
    .h2 {
      font-size: var(--h3); } }

h3,
.h3 {
  font-size: var(--h3); }
  @media screen and (max-width: 992px) {
    h3,
    .h3 {
      font-size: var(--h4); } }

h4,
.h4 {
  font-size: 21px; }

p,
.p1 {
  font-size: 16px; }

.p2 {
  font-size: 12px; }

header.flex {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 128px;
  padding: 0 32px;
  width: 100%; }
  header.flex .menu-toggle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 40px;
    z-index: 2; }
    header.flex .menu-toggle:before, header.flex .menu-toggle:after {
      background-color: var(--dark-main);
      content: "";
      opacity: 0;
      overflow: hidden;
      top: 48px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    header.flex .menu-toggle:before {
      left: 34px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    header.flex .menu-toggle:after {
      right: 34px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    header.flex .menu-toggle.close:after, header.flex .menu-toggle.close:before {
      background-color: var(--lighter-main);
      content: "";
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 18px;
      width: 100%; }
    header.flex .menu-toggle.close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    header.flex .menu-toggle.close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    header.flex .menu-toggle span {
      background-color: var(--white);
      height: 4px;
      margin: 4px 0;
      width: 100%; }
      header.flex .menu-toggle span.white {
        background-color: var(--white); }
      header.flex .menu-toggle span.dark {
        background-color: var(--base-main); }
      header.flex .menu-toggle span.close {
        display: none; }
    @media screen and (min-width: 992px) {
      header.flex .menu-toggle {
        display: none; } }
  header.flex nav {
    background-color: var(--dark-main);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    opacity: 0;
    padding: 128px 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    width: 100%;
    z-index: -1; }
    @media screen and (min-width: 992px) {
      header.flex nav {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: transparent;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: 100%;
        opacity: 1;
        padding: 0;
        position: static;
        width: auto; } }
    header.flex nav.toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      left: 0;
      height: 100vh;
      top: 0;
      opacity: 0.9;
      padding: 128px 0;
      z-index: 1; }
    header.flex nav a {
      display: block;
      padding: 16px 0;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      width: 100%; }
      @media screen and (min-width: 992px) {
        header.flex nav a {
          color: var(--lighter-main);
          font-size: var(--h4);
          margin-right: 32px;
          padding: 8px 0;
          width: 128px; } }
      header.flex nav a:hover {
        background-color: var(--white);
        color: var(--dark-main); }

section.container {
  margin-bottom: 128px; }

section.home .img-wrapper {
  height: 256px;
  width: 256px; }

section.works {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  section.works .project {
    margin-bottom: 64px; }
    section.works .project:last-of-type {
      margin-bottom: 0; }
    section.works .project .img-wrapper {
      height: 256px;
      width: 256px;
      background-color: var(--lighter-main);
      margin-bottom: 16px; }
    section.works .project h3 {
      margin-bottom: 16px; }
    section.works .project p {
      margin-bottom: 32px; }

@media screen and (min-width: 992px) {
  section.knowledge .text {
    width: -webkit-calc(100% / 12 * 7);
    width: calc(100% / 12 * 7); } }

section.knowledge h3 {
  margin-bottom: 32px;
  width: 100%; }

section.knowledge .skills {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 240px; }
  section.knowledge .skills p {
    display: block;
    margin-bottom: 16px;
    width: 50%; }

section.timeline h2 {
  margin-bottom: 48px; }

section.timeline h3 {
  margin-bottom: 32px; }

section.timeline ul li {
  margin-bottom: 32px; }

section.about h2 {
  margin-bottom: 48px; }

section.about h3 {
  margin-bottom: 32px; }

section.about p {
  margin-bottom: 16px; }

section.about .hobbies,
section.about .interests {
  max-height: 140px; }

section.about .qualities {
  max-height: 70px; }
