@import "reset";

body {
  background-color: var(--darker-main);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 40px;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.btn-black {
  border: 1px solid transparent;
  color: var(--lighter-main);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-main);
  border-radius: 32px;
  cursor: pointer;

  height: 48px;
  width: 256px;
  @media screen and (min-width: 992px) {
    width: 128px;
  }

  font-size: var(--p1);
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--lighter-main);
    border: 2px solid var(--medium-main);
    color: var(--darker-main);
  }
}

.img-wrapper {
  border-radius: 8px;
  img {
    height: auto;
    width: 100%;
  }
}

ul.ul-styled {
  li {
    &:before {
      content: "►";
      color: var(--lighter-main);
      color: var(--p1);
      height: auto;
      width: auto;
    }
  }
}
