@import "colors";

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/Saira-Bold.eot");
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
li {
  color: $white;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.white {
  color: $font-main;
}

.gray {
  color: $lighter-main;
}

h1,
.h1 {
  font-size: 51px;
  @media screen and (max-width: 1200px) {
    font-size: 38px;
  }
}

h2,
.h2 {
  font-size: 38px;
  @media screen and (max-width: 1200px) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 28px;
  @media screen and (max-width: 1200px) {
    font-size: 21px;
  }
}

h4,
.h4 {
  font-size: 21px;
}

p,
.p1 {
  font-size: 16px;
}

.p2 {
  font-size: 12px;
}
