header.flex {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 128px;
  padding: 0 32px;
  position: fixed;
  top: 0;
  width: 100%;
  .menu-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;
    z-index: 2;
    &:before,
    &:after {
      background-color: var(--dark-main);
      content: "";
      opacity: 0;
      overflow: hidden;
      top: 48px;
      transition: all 0.3s ease;
    }
    &:before {
      left: 34px;
      transform: rotate(45deg);
    }
    &:after {
      right: 34px;
      transform: rotate(-45deg);
    }

    &.close {
      &:after,
      &:before {
        background-color: var(--lighter-main);
        content: "";
        display: block;
        height: 4px;
        opacity: 1;
        position: absolute;
        left: 0px;
        top: 18px;
        width: 100%;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    span {
      background-color: var(--white);
      height: 4px;
      margin: 4px 0;
      width: 100%;
      &.white {
        background-color: var(--white);
      }
      &.dark {
        background-color: var(--base-main);
      }
      &.close {
        display: none;
      }
    }
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  nav {
    background-color: var(--dark-main);
    display: flex;
    height: 100vh;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    padding: 128px 0;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease;
    top: 0;
    width: 100%;
    z-index: -1;

    @media screen and (min-width: 992px) {
      align-items: center;
      background-color: transparent;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: 100%;
      opacity: 1;
      padding: 0;
      position: static;
      width: auto;
    }

    &.toggle {
      display: flex;
      left: 0;
      height: 100vh;
      top: 0;
      opacity: 0.9;
      padding: 128px 0;
      z-index: 1;
    }

    a {
      display: block;
      padding: 16px 0;
      transition: 0.3s all ease;
      width: 100%;
      @media screen and (min-width: 992px) {
        color: var(--lighter-main);
        font-size: var(--h4);
        margin-right: 32px;
        padding: 8px 0;
        width: 128px;
      }
      &:hover {
        background-color: var(--white);
        color: var(--dark-main);
      }
    }
  }
}
