:root {
  --darker-main: #0f1018;
  --dark-main: hsl(229, 12%, 15%);
  --base-main: hsl(229, 12%, 30%);
  --medium-main: hsl(229, 12%, 45%);
  --light-main: hsl(229, 12%, 60%);
  --lighter-main: hsl(229, 12%, 75%);
  --font-main: hsl(229, 12%, 90%);
  --white: #fff;

  --h1: 81px;
  --h2: 54px;
  --h3: 36px;
  --h4: 24px;
  --p1: 16px;
  --p2: 11px;
}
